.header-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
  height: 100vh;
  background-size: cover;
  padding: 1px;
}
.header-align-container {
  display: flex;
  justify-content: center;
  height: 80vh;
}
.header-inner-container {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-text-container {
  width: 60%;
  margin-top: 20px;
  min-height: 100%;
}
.header-title {
  font-family: "Roboto";
  font-size: 42px;
  color: #f8fafc;
  font-weight: 700;
  margin-top: 20px;
}
.actions {
  color: goldenrod;
}
.header-description {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 500;
  color: #f8fafc;
  line-height: 30px;
}
.header-button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  background-color: #4f46e5;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  outline: none;
  border-width: 0px;
  border-radius: 5px;
  color: #f8fafc;
}
.link-style {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .header-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-sm-bg.png");
    height: 100vh;
    background-size: cover;
    padding: 1px;
  }
  .header-inner-container {
    width: 95%;
  }
  .header-title {
    font-family: "Roboto";
    font-size: 32px;
    color: #f8fafc;
    font-weight: 600;
  }
  .header-text-container {
    width: 100%;
  }
}

@media screen and (max-width: 321px) {
  .header-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
    min-height: 100vh;
    background-size: cover;
    padding: 1px;
  }
  .header-align-container {
    display: flex;
    justify-content: center;
    height: 70vh;
  }
  .header-inner-container {
    width: 90%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-title {
    font-family: "Roboto";
    font-size: 32px;
    color: #f8fafc;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .home-para {
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto";
    margin-bottom: 0px;
  }
  .header-description {
    font-size: 18px;
    line-height: 25px;
  }
  .header-button {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
  }
}
